<div class="w-full bg-primary p-8">
  <div class="grid grid-cols-1 lg:grid-cols-4 ">
    <div>
      <span class="text-secondary text-xl font-medium font-pacifico">Company</span>
      <div class="flex flex-col text-white my-2">
        <span class="text-base font-nunito"><fa-icon [icon]="arrow" class="mr-2"></fa-icon>About Us</span>
        <span class="text-base font-nunito"><fa-icon [icon]="arrow" class="mr-2"></fa-icon>Contact Us</span>
        <span class="text-base font-nunito"><fa-icon [icon]="arrow" class="mr-2"></fa-icon>Reservation</span>
        <span class="text-base font-nunito"><fa-icon [icon]="arrow" class="mr-2"></fa-icon>Privacy Policy</span>
        <span class="text-base font-nunito"><fa-icon [icon]="arrow" class="mr-2"></fa-icon>Terms & Condition</span>
      </div>
    </div>
    <div>
      <span class="text-secondary text-xl font-medium font-pacifico">Contact</span>
      <div class="flex flex-col text-white my-2">
        <span class="">123 Street, New York, USA</span>
        <span>+012 345 67890</span>
        <span>info&#64;example.com</span>
      </div>
    </div>
    <div>
      <span class="text-secondary text-xl font-medium font-pacifico">Opening</span>
      <div class="flex flex-col text-white my-2">
        <span class="text-lg font-nunito font-semibold">Monday - Saturday</span>
        <span>09AM - 09PM</span>
      </div>
      <div class="flex flex-col text-white my-2">
        <span class="text-lg font-nunito font-semibold">Sunday</span>
        <span>10AM - 08PM</span>
      </div>
    </div>
    <div>
      <span class="text-secondary text-xl font-medium font-pacifico">Newsletter</span>
      <div class="flex flex-col text-white my-2">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, harum.</span>
        <input class="h-12 w-full border-secondary border-[2px] p-2 pl-6 mt-4" placeholder="Your email" type="email">
      </div>
    </div>
  </div>
  <hr class="bg-slate-400 w-full h-[2px] my-5" />
  <span class="text-white">Site</span>
</div>